asgiref
bidict
Django
django-api-view
django-cors-headers
dnspython
eventlet
greenlet
gevent
djangorestframework
python-engineio
python-socketio
pytz
six
sqlparse
dj-database-url
gunicorn
whitenoise
python-dotenv
psycopg2
psycopg2-binary