asgiref
bidict
Django
django-api-view
django-cors-headers
django-heroku
dnspython
gunicorn==20.1.0
python-socketio==1.8.1
python-engineio==1.7.0
eventlet==0.30.2
djangorestframework
pytz
six
sqlparse
dj-database-url
whitenoise
python-dotenv
psycopg2-binary