asgiref
bidict
Django
django-api-view
django-cors-headers
django-heroku
dnspython
gunicorn
python-socketio
python-engineio
eventlet==0.30.2
djangorestframework
pytz
six
sqlparse
dj-database-url
whitenoise
python-dotenv
psycopg2-binary