h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}
@media screen and (min-width: 992px) {
    .navbar-brand  
    {
        margin-left: 160px;
    }
    #collapseExample 
    {
        position:relative;
        width :400px;
        display: flex;
        justify-content:space-around;
        flex-direction: row;
    }
    .navbar-nav 
    {
        width: 420px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-left: 55px;
    }
}
/* this the header in the active part to make it with a position fixed */
nav.activeHeaderWebsite 
{
    position:fixed;
    top: 0;
    z-index: 4;
    left: 0;
    right: 0;
}
.navbar-nav li a span 
{
    padding: 6px;
}
.navbar-nav li a:hover 
{
    color:rgba(255, 132, 132, 0.748);
} 
nav 
{
    border-bottom: 1px solid rgba(107, 107, 107, 0.124);
    box-shadow: 1px 1px 8px rgba(60, 59, 59, 0.111);
}
.navbar-nav li a 
{
    color :#000;
    font-size: 20px;
}
/* this the style of the profil-sec */
.profil-sec h5
{
    text-transform:capitalize;
}
.profil-sec ul li h4 
{
    position:relative;
}
.profil-sec ul li a 
{
    text-decoration: none;
}
.profil-sec ul li p 
{
    font-weight: 600;
}
.profil-sec ul li 
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position:relative;
    width:100%;
    padding-top: 10px;
    transform:translateX(-14px);
    border-top:1px solid rgba(216, 216, 216, 0.686);
}
.profil-sec ul 
{
    display :flex;
    justify-content: flex-end;
    flex-direction: column;
    position:relative;
    width:100%;
    list-style: none;
}
.profil-sec p 
{
    font-size: 13px;
}
.profil-sec img 
{
    position:relative;
    width:80px;
    z-index: 1;
    border-radius: 50%;
    border:4px solid #fff;
    transform:translateY(-10px)
}
.profil-sec::after 
{
    content:'';
    position:absolute;
    top:0;
    left:15px;
    right:15px;
    height:120px;
    background-color: rgb(255, 132, 132);
}
.profil-sec 
{
    display :flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    height: 470px;
    box-shadow: 1px 1px 8px rgba(191, 191, 191, 0.597);
}